{% extends 'base.html' %}
{% block page_content %}
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>About us</h5>
                            <p>lorem dasdas dasdasdas</p>


                            <h5>Contact info</h5>
                            <ul>
                                <li>
                                    <h6><i class="fa fa-map-marker"></i> Address</h6>
                                    <p>Napulno istinski adress</p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-phone"></i> Phone</h6>
                                    <p><span>Napulno istinski nomer</span>
                                </li>
                                <li>
                                    <h6><i class="fa fa-headphones"></i> Support</h6>
                                    <p>Napulno adekvaten nomer</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.6899007944803!2d24.726180015636007!3d42.15692225589797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1e847bf390f%3A0x4864ef9d9eb3b826!2sLidl!5e0!3m2!1sen!2sus!4v1649070647122!5m2!1sen!2sus"
                                width="600"
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                height="780" style="border:0" allowfullscreen="">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}