{% extends 'base.html' %}
{% block page_content %}

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                         data-setbg="img/categories/category-1.jpg">
                        <div class="categories__text">
                            <h1>Mini Market</h1>
                            <p>The best place for The best miniatures.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-2.jpg">
                                <div class="categories__text">
                                    <a href="{% url 'about us page' %}"><h4>About us</h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
                                <div class="categories__text">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'blog page' %}"><h4>News</h4></a>
                                    {% else %}
                                        <a href="{% url 'register page' %}"><h4>Register </h4></a>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
                                <div class="categories__text">
                                    <a href="{% url 'shop page' %}"><h4>Shop now</h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
                                <div class="categories__text">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'cart page' %}"><h4>Your cart</h4></a>
                                    {% else %}
                                        <a href="{% url 'login page' %}"><h4>Login </h4></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
