{% extends 'base.html' %}
{% block page_content %}
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="blog__details__content">
                        <div class="blog__details__item">
                            <img  src="{{ post.title_image }}" alt="">
                            <div class="blog__details__item__title">

                                <h4>{{ post.title }}</h4>
                                <ul>
                                    <li>by <span>{{ post.author }}</span></li>
                                    <li>{{ post.creation_date }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                            <p>{{ post.article }}</p>
                        </div>


                    </div>
                </div>
                <div class="col-lg-4 col-md-4">

                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

{% endblock %}