{% extends 'base.html' %}
{% block page_content %}
    <section class="blog spad">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-7 col-md-7 col-sm-6">
                    <div class="blog__item">
                        <img style="max-height: 300px; max-width: 300px" src="{{ post.title_image }}" alt="">
                        <div class="blog__item__text">
                            <h6><a href="{% url 'blog details page' post.pk %}">{{ post.title }}</a></h6>
                            <ul>
                                <li>by <span>{{ post.author }}</span></li>
                                <li>{{ post.creation_date }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                </div>


            </div>
        </div>
    </section>
        {% include 'paginator.html' %}


{% endblock %}